@import url(fonts.css);

html,
body {
  background: #212121;
  font-family: 'Century Gothic', GillSans, Calibri, Trebuchet, sans-serif;
  height: 100%;
}

body {
  color: #ccc;
  margin: 0;
  padding: 0;
}

* { outline: 0; }

/* Helpers */
.no-padding {
  padding: 0 !important;
}
.no-padding-left {
  padding-left: 0 !important;
}
.no-padding-right {
  padding-right: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.cursor-pointer {
  cursor: pointer;
}

/* Text & Fonts */
.text-shadow-default {
  text-shadow: 2px 2px 2px #000;
}
.font-trajan {
  font-family: 'Trajan Pro', Arial, serif;
}

/* Navigation */
.sidenav-trigger {
  position: fixed;
  right: 1em;
  top: 1em;
}

/* Preloader */
.modal-preloader label {
  margin-top: 1em;
}

/* Pager */
.pager-bottom {
  border-top: 1px solid #666;
  margin-top: 1em;
  padding-top: 1em;
}
.pager-bottom .chip {
  cursor: pointer;
}